* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}

.bg-img {
  width: 100%;
  height: 100vh;
  background-image: url(https://assets.malcherczyk.com/wallpapers/sierra.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.img-fix {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1557360798-c91519105dd7?auto=format&fit=crop&q=80&w=1933&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  filter: blur(15px);
  transform: scale(1.1); 
}

.input {
  width: 100%;
  padding: 9px;
  margin: 10px 0;
  background-color: rgba(167,167,167,0.8);
  border: 0;
  border-radius: 10px;
  /* FONT */
  
  font-size: 0.8rem;
  color: #fff;
}

input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
  color: rgba(255,255,255,0.8);
  text-transform: capitalize;
}

input:focus {
  outline: 0;
}

.img-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.arrow-submit {
  height: 33px;
  width: 33px;
  position: absolute;
  right: 0;
  bottom:10px;

  border: 0;
  border-radius: 50%;
  background-color: rgba(167,167,167,0.8);
  opacity: 0;

  cursor: pointer;
}

.fa-arrow {
  background-image: url(https://malcherczyk.pl/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 23px;
  margin: 5px;
  transform: rotate(180deg);
}

.mainn {
  width: calc(100% - 40px);
  box-shadow: none;
}
.side {
  width: 40px;
  height: 235px;
  position: relative;
}
.active {
  opacity: 1;
}
.wrapper {
  padding-top: 40vh;
  width: 250px;
  z-index: 9999;
  position: fixed;
  left: calc(50% - 100px);
}